.navbar {
    background-color: rgb(36, 36, 38);
    overflow: hidden;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: white;
}

.navbar img {
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

.nav-list li a:hover {
    text-decoration: underline;
}